a {
    color: black;
    text-decoration: none;
    font-weight: bold;


}

a:hover {
    text-decoration: none;
    color: red;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}
