body {
   background-color: black;
    color: darkgray;

}

h1{
    color: black;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    font-size: 40px;
}

button {
    background-color: darkred;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;
    transition: background-color 0.3s, color 0.3s;
}

h2 {
    color: darkred;
    text-shadow: 2px 2px 4px black;
}

h3 {
    color: darkred;
    text-shadow: 2px 2px 4px black;
}
